body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}
  
.container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.header {
  background: #013D5B;
  font-size: 3px;
  width: 100%;
  height: 100%;
}
.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #013D5B;
}
.container .information {
  display: block;
}
.container .information p {
  margin-top: 0px;  
  font-size: 200%;
  padding: 20px;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.container .information img {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 0px;  
  padding: 0;
  color: black;
  width: 65%;
  margin-left: 135px;
}
.motivation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.motivation .motivation-container {
  display: flex;
  align-items: center;
}
.motivation .motivation-container p {
  color: black;
  margin-right: 10px; /* Adjust spacing between text and button */
}
.circle-button {
  display: inline-block; 
  text-decoration: none; 
  border: none;
}
.circle-button img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}
.image-link:hover .image {
  transform: scale(0.95);
  transition: transform 0.2s;
  position: fixed;
}
